# can be 'local' or 'production'
DEPLOYMENT=local

DEBUG=1
# generated Django secret key
SECRET_KEY=SECRET_KEY_HERE
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_DATABASE=moons
DB_USER=moons
DB_PASSWORD=moonspassword
DB_HOST=db
DB_PORT=5432

QUERY_DB_DRIVER=adbc_driver_sqlite.dbapi
QUERY_DB_CONNECTION=file:///app/resources/mock-gesiDR5.sqlite3

CELERY_BROKER=amqp://rabbitmq:5672/

# optional - all are required if creating a superuser
DJANGO_SUPERUSER_USERNAME=moons
DJANGO_SUPERUSER_PASSWORD=somepass999
DJANGO_SUPERUSER_EMAIL=someone@example.com