adbc-driver-manager==1.4.0
adbc-driver-sqlite==1.4.0
adbc_driver_postgresql==1.4.0
astropy==7.0.1
astropy-iers-data==0.2025.2.24.0.34.4
celery==5.4.0
crispy-bootstrap5==2024.10
Django==5.1.4
django-bootstrap5==24.3
django-crispy-forms==2.3
django-tables2==2.7.5
gunicorn==23.0.0
importlib_resources==6.5.2
matplotlib==3.10.0
pandas==2.2.3
psycopg==3.2.5
psycopg-binary==3.2.5
pyarrow==19.0.0
