{
    fallback_sni 192.41.122.237
}

:80 {

	encode zstd gzip

	encode zstd gzip

	handle_path /static/* {
		file_server {
			root "/app/staticfiles"
		}
	}

	handle /frontend/* {
		file_server /frontend/* {
			root "/frontend"
		}
	}


	handle /oauth2/* {
		reverse_proxy auth:4180 {
			# oauth2-proxy requires the X-Real-IP and X-Forwarded-{Proto,Host,Uri} headers.
			# The reverse_proxy directive automatically sets X-Forwarded-{For,Proto,Host} headers.
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-Uri {uri}
		}
	}

	handle {

		forward_auth auth:4180 {
			uri /oauth2/auth

			# oauth2-proxy requires the X-Real-IP and X-Forwarded-{Proto,Host,Uri} headers.
			# The forward_auth directive automatically sets the X-Forwarded-{For,Proto,Host,Method,Uri} headers.
			header_up X-Real-IP {remote_host}

            # remove all client provided headers from the request to upstream
			header_up -X-Remote-User
			header_up -X-Auth-Request-Email
			header_up -X-Forwarded-User

			# set remote user header
			copy_headers {
				X-Auth-Request-User
				X-Auth-Request-Email>X-Remote-User
				X-Auth-Request-Access-Token
			}

			# If oauth2-proxy returns a 401 status, redirect the client to the sign-in page.
			@error status 401
			handle_response @error {
				redir * /oauth2/sign_in?rd={scheme}://{host}{uri}
			}
		}

		reverse_proxy /api/* web:8000
		reverse_proxy /admin/* web:8000
		reverse_proxy / web:8000

	}
}